*{
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

        .header_section{
            color: white;
            background-color: green;
            text-align : center;
            /* width: 100%; */
            padding: 10px;
            font-size: 20px;

        }

        .navigation_menu{
            background-color: #ffffff;
            overflow: hidden;
            font-size: 30px;
           width: 1480px;
        }
        
        .navigation_menu a {
            color : black;
            float:left;
            display:block;
            padding:10px;
            text-align: center;
            text-decoration: none;
        }

        .navigation_menu a:hover{
              background-color: rgb(0,0,150); 
              background-color: hsl(240 , 90% , 10%);
              color: white;
;
        }
        .row1{
            float: right;
            text-align:center;
            padding:10px;
        }

        /* code for column A , B , C design */
           .columnA{
             
            float: left;
                width: 31%;
                
                text-align:justify;

                border: 2px dashed black;
                margin: 10px;

        }

        .columnB{
            float:left;
                width: 31%;
              
                text-align:justify;
                display: block;

                border: 2px dashed black;
                margin: 10px;
        }

        .columnC{
            float: left;
                width: 31%;
               
                text-align:justify;
                display:block;
                border: 2px dashed black;
                margin:10px;
        }

        h2{
            display:block;
            text-align: center;
            
        }
        
        /* Media query to set website layout
            according to screen size */
            @media screen and (max-width:1300px) {
               .header_section{
                   width: 130%;
               }
         
            /* .row{
margin-left: 200px;
width: 100%;
            }  */
         
            .footer{
                width: 1500px;
              
            }  
        } 
            @media screen and (max-width:1500px) {
                .header_section{
                    width: 1600px;
                }
          
             /* .row{
 margin-left: 200px;
 width: 100%;
             }  */
             .footer{
                 width: 4700px;
               
             }    
             section{
                 width: 1500px;
             }      
         } 
            
            @media screen and (max-width:400px) {
                .columnA, .columnB, .columnC {
                    width: 100%;
                }
            }
            
            /* designing for footer */
            .footer{
                text-align: center;
                font-size: 30px;
                padding:10px;
                width: 100%;
                background-color: gray;
                /* margin-top: 0px; */
            }

            .footer a{
                color:#000000;
                text-decoration: none;
            }
        /* .content {
            width: 1500px;
        } */
        .columnA li{
            margin-left: 20px;
        }
        .columnB li{
            margin-left: 20px;
        }
        .row{
           margin-left: 20px;
        }
       .anchar{
           margin-top: 40px;
       }
       .row1{
           margin-top: 0px;
       }

       @media screen and (max-width :1165) {
        .row1{
            margin-top: -90px;
            /* margin-left: 190px; */
        } 
        .navigation_menu{
            width: 1700px;
        } 
       }
       @media screen and (max-width: 500px) {
           .row{
               display: flex;
               width: 610px;
               flex-direction: column;
             margin-left: 380px;
               height: 200px;
           }
           .navigation_menu{
            width: 1200px;
        } 
     .footer{
         margin-top: 260px;
         text-align: center;
     }
        .footer h4{
            margin-left: -500px;
        }
       }